---
BasedOnStyle:  Chromium
---
Language:                            Cpp
ColumnLimit:                         100

AllowShortFunctionsOnASingleLine:    Empty
AllowShortLambdasOnASingleLine:      Empty
AllowAllArgumentsOnNextLine:         false
BinPackArguments:                    false

IncludeBlocks:       Regroup
IncludeCategories:
  - Regex:           '^<a0/internal/.*\.h*>'
    Priority:        2
  - Regex:           '^<a0/.*\.h*>'
    Priority:        1
  - Regex:           '^<.*\.h*>'
    Priority:        3
  - Regex:           '^<.*'
    Priority:        4
  - Regex:           '.*'
    Priority:        5
